.container--primary {
  padding-top: 5rem;
}

.draw-area-container {
  border: 2px solid #343a40;
  width: 304px;
  height: 304px;
}

.recognizing-container {
  max-width: 300px;
  width: 100%;
  margin: auto;
}
